.BetCard {
  width: 100%;
  margin: 8px 0;
  padding: 15px 0;
  border-bottom: solid 1px #f0f0f0;
  font-size: 1.2em;
}

.BetCard-title {
  text-align: left;
  margin-bottom: 0.3em;
}

.BetCard-aux {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BetCard-confidence {
  flex: 1;
  text-align: right;
}
.BetCard-confidence button {
  margin-left: 4px;
}
.BetCard-confidence * {
  font-size: 0.9em;
}
@media screen and (min-width: 700px) {
  .BetCard-confidence * {
    font-size: 1em;
  }
}

.BetCard-counter {
  width: 2em;
  height: 2em;
  font-size: 0.7em;
  line-height: 2em;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-right: 8px;
}

.BetCard-moments {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.6em;
  color: #999;
}

@media screen and (min-width: 700px) {
  .BetCard {
    font-size: 1.4em;
  }
  .BetCard-moments {
    font-size: 0.6em;
  }
}
